PORT=3000
STREAM_URL=https://embed.wix.com/video?instanceId=179927bf-2cf8-4538-a0d3-472e7f978edd&biToken=c547deed-51ae-089e-0ed7-3112e0f28f24&pathToPage=&channelId=d2def95200004da6ae04763c9f6501f9&videoId=6efd213c3d184fd39fcf8a5a2cdb7723&compId=comp-lxnlh9nb&sitePageId=ssek3

# Google OAuth (Fase 2)
# GOOGLE_CLIENT_ID=
# GOOGLE_CLIENT_SECRET=
# GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback

# Meta OAuth (Fase 2)
# FACEBOOK_APP_ID=
# FACEBOOK_APP_SECRET=
# FACEBOOK_CALLBACK_URL=http://localhost:3000/auth/facebook/callback

# DB (Fase 2)
# SESSION_SECRET=
# DB_HOST=localhost
# DB_NAME=chumbazo_live
# DB_USER=
# DB_PASS=
